<nav class="navbar navbar-expand-md navbar-light bg-transparent rounded-1">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>"><%= image_tag "logo-full.svg", height: "24" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbar-1" aria-controls="navbar-1" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-1">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="<%= root_path %>">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="registerDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Register
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="registerDropdown">
            <li><a class="dropdown-item" href="#">Customer</a></li>
            <li><a class="dropdown-item" href="#">Official</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="loginDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="loginDropdown">
            <li><a class="dropdown-item" href="#">Customer</a></li>
            <li><a class="dropdown-item" href="#">Official</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>