<div class="row">
  <div class="col">
    <div class="card aos-init aos-animate" data-aos="fade-up" data-aos-delay="800">
      <div class="card-header">
        <h4 class="card-title">Grievance Details</h4>
      </div>
      <div class="card-body">
      <div class="mb-3">
        <label class="text-muted fw-bold">Problem</label>
        <p class="text-dark"><%= @grievance.problem %></p>
      </div>
      <div class="mb-3">
        <label class="text-muted fw-bold">Description</label>
        <p class="text-dark"><%= @grievance.description %></p>
      </div>
      <div class="mb-3">
        <label class="text-muted fw-bold">Status</label>
        <p class="text-dark"><%= @grievance.status %></p>
      </div>
      <div class="mb-3">
        <label class="text-muted fw-bold">Remarks</label>
        <p class="text-dark"><%= @grievance.remarks %></p>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>
